<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tip Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC494A6B1C32E8FC00C4EDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC494A7F1C32E8FC00C4EDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC494A8A1C32E8FC00C4EDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
